<h1>Here is the big list of things I have to do!!!!</h1>
<div class="task-container">
  <%@all_tasks = Task.where.not(completed_at: "").order(completed_at: :desc)%>

  <%@all_tasks.each do |task| %>
  <div class="task-item">
    <p class="text"><%= link_to task.name, task_path(task.id)%>
      <br>
      <%=task.completed_at%>
    </p>

    <div class="buttons">
      <%= button_to "Opps um!!", uncompleted_path(task.id), method: :patch %>
      <%= button_to "Remove That", destroy_path(task.id), method: :delete, data: { confirm: "Are you sure?" }  %>
    </div>
  </div>

  <%end%>
</div>
