<h1>All about this task!!!!</h1>
<div class="task-container">
   <%@all_tasks.each do |task| %>
   <div class="task-item">
     <p class="text"><%= link_to task.name, "/#{task.name}"%>
       <br>
       <%= task.description%>
       <br>
   <%= task.completed_at %>
 </p>
    </div>
   <%end%>
</div>

<%= params %>
