<h1>All about this task!!!!</h1>
<div class="task-container">
   <%@all_tasks.each do |task| %>
   <div class="task-item">
   <%= link_to task.name, "/#{task.name}"%>
   <br> <%=task.description%>
   <br>Completed?<%=task.completed_at%>
    </div>
   <%end%>
</div>
