<h1>Here is the big list of things I have to do!!!!</h1>
<div class="task-container">
   <%@all_tasks.each do |task| %>
   <div class="task-item">
<%= link_to task.name, "/#{task.name}"%></div>
   <%end%>
</div>
