<h1>All about this task!!!!</h1>
<div class="task-container">
  <div class="task-item">
    <p>
      <%=@task.name %>
      <br>
      <%= @task.description%>
      <br>
      <%= @task.completed_at %>
    </p>
  </div>
</div>

<%= params %>
